* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    position: relative;
    flex: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* header */

.header {
    background: rgb(7, 7, 61);
    color: #fff;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    align-items: center;
    padding: 0 0 0 20px;
    z-index: 5;
}

.user {
    line-height: 60px;
    width: 250px;
    text-align: center;
}

.user:hover {
    background-color: rgb(35, 35, 95);
}

.user-menu {
    display: block;
    width: 250px;
    color: #fff;
    position: absolute;
    right: 0;
    top: 60px;
    background: rgb(35, 35, 95);
    padding: 10px 20px;
    border-bottom-left-radius: 15px;
    line-height: 2rem;
}

.log-out {
    background: none;
    border: none;
    color: inherit;
    font-size: inherit;
    padding: 0;
    cursor: pointer;
}

/* navbar */

.nav-bar {
    width: 100%;
    display: flex;
    text-transform: uppercase;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    z-index: 4;
}

.nav-element {
    background-color: #f5f5f5;
    flex: 1 1;
    text-align: center;
    line-height: 3rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.25s;
}

.nav-element:hover {
    background-color: #e0e0e0;
}

.nav-element::after {
    content: "";
    display: block;
    margin: auto;
    width: 0;
    height: 3px;
    background: #ff9800;
    transition: 0.12s;
}

.nav-element:hover::after,
.nav-element.current::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: #ff9800;
    transition: 0.12s;
}

.nav-element:hover::after {
    background-color: #ffc947;
}

.logo-mini {
    width: 50px;
    height: auto;
}

/* footer */

.footer {
    background: #1b1b1b;
    color: #fff;
    margin-top: auto;
    padding: 30px;
    flex: none;
    z-index: 3;
}

/* calendar */

.calendar-main {
    display: flex;
}

.calendar-box {
    position: relative;
    margin: 0 20px 20px;
    padding-top: 60px;
    flex: 3 3;
}

.calendar-alert {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.calendar-header {
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.calendar-title {
    font-size: 2rem;
    margin: 20px;
}

.calendar-nav {
    font-size: 2rem;
}

.calendar-table {
    width: 100%;
    height: calc(100vh - 281px);
    margin: 10px 0 0;
    border-collapse: collapse;
}

.calendar-table th {
    height: 1rem;
    border: 1px solid #000;
    background-color: rgb(35, 35, 95);
    color: #fff;
}

.calendar-table td {
    padding: 5px;
    border: 1px solid #ccc;
    vertical-align: top;
    width: 14.29%;
    height: calc(20%-1rem);
    font-size: 0.75rem;
}

.calendar-table--6weeks td {
    height: calc(16.66%-1rem);
}

.calendar-weekday {
    font-weight: bold;
    color: #000;
    font-size: 1.2em;
}

.calendar-day {
    font-size: 1.3em;
}

.calendar-othermonth .calendar-day {
    opacity: 0.3;
}

.calendar-groups-box {
    position: relative;
    margin: 20px;
    padding: 10px;
    flex: 1 1;
    border-radius: 10px;
    text-align: center;
}

.calendar-groups-list {
    display: flex;
    flex-flow: column;
}

.calendar-group {
    position: relative;
    margin: 10px 0;
    padding: 1rem;
    background-color: rgb(35, 35, 95);
    border-radius: 10px;
    color: #fff;
    text-align: left;
}

.calendar-group-name {
    margin: 0 0 0.5rem;
}

.calendar-group-code {
    margin: 0.5rem 0 0;
    color: #ccc;
}

.calendar-group-code span{
    color: #fff;
}

.calendar-group-edit {
    display: none;
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translate(-100%, -50%);
    fill: #fff;
}

.calendar-group-leave {
    display: none;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translate(0, -50%);
    background: none;
    border: none;
    fill: #fff;
}

.calendar-group:hover .calendar-group-edit,
.calendar-group:hover .calendar-group-leave {
    display: block;
}

.calendar-group-edit:hover,
.calendar-group-leave:hover {
    fill: #ff9800;
}

.calendar-button-box {
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.calendar-add-event {
    width: 100%;
    margin: 10px 0;
}

.calendar-new-group-button,
.calendar-join-group-button {
    width: 48%;
}

.calendar-new-group,
.calendar-join-group {
    z-index: 6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    width: 380px;
    height: 160px;
    padding: 0 40px 20px;
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

.calendar-new-group-name,
.calendar-join-group-name {
    display: block;
    width: 210px;
    margin: 20px auto;
    padding: 10px 20px;
    text-align: center;
    background: none;
    border: none;
    border-bottom: 2px solid #ff9800;
    color: #000;
    font-size: 1em;
    text-align: center;
    outline: none;
    transition: 0.25s;
}

.calendar-new-group-name:focus,
.calendar-join-group-name:focus {
    width: 300px;
    border-color: #ffc947;
}

.calendar-new-group-confirm,
.calendar-new-group-cancel,
.calendar-join-group-confirm,
.calendar-join-group-cancel {
    width: 8.5rem;
}

.calendar-group-alert {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 200px;
}

/* calendar new event */

.new-event-main {
    height: 782px;
}

/* tutoring */

/* tutoring browse */

.browse-main {
    display: flex;
    flex: 1 0;
}

.sidebar {
    width: 400px;
    flex: none;
    /* box-shadow: 2px 0px 4px -1px rgba(0, 0, 0, 0.2), 4px 0px 5px 0px rgba(0, 0, 0, 0.14), 1px 0px 10px 0px rgba(0, 0, 0, 0.12); */
    box-shadow: 3px 0px 1px -2px rgba(0, 0, 0, 0.2), 2px 0px 2px 0px rgba(0, 0, 0, 0.14), 1px 0px 5px 0px rgba(0, 0, 0, 0.12);
}

.browse-search {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.browse-search-label {
    align-self: flex-start;
}

.browse-search-bar {
    width: 100%;
}

.posts {
    min-height: 0;
    padding: 40px 10px 10px;
    flex: 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post {
    display: flex;
    width: 95%;
    height: 300px;
    margin: 15px;
    border-radius: 20px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.post:hover {
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.preview-profil {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0;
    padding: 20px;
}

.preview-profil-pic {
    border-radius: 50%;
}

.preview-profil-name {
    font-size: 1.5rem;
    margin: 10px 0;
}

.preview-profil-desc {
    margin: 0;
    width: 100%;
    height: 6rem;
    padding: 10px;
}

.post-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 3 0;
    padding: 20px;
    background-color: rgb(35, 35, 95);
    color: #fff;
    border-radius: 0 20px 20px 0;
}

.post-title {
    font-size: 2rem;
    margin: 10px;
}

.post-tag {
    margin-top: auto;
}

/* tutoring profil */

.profil-main {
    display: flex;
}

.profil-info {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: flex-start;
    justify-content: space-between;
    margin: 50px 10px 20px;
    padding: 10px;
    width: 600px;
    height: 500px;
    flex: 1 0;
    border-radius: 20px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.profil-name {
    width: 100%;
    text-align: center;
    font-size: 2rem;
}

.profil-pic-box {
    position: relative;
    padding: 10px;
    flex: 1 1;
}

.profil-pic {
    border-radius: 50%;
    border: 1px solid black;
}

.profil-pic-upload {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profil-pic-box:hover .profil-pic-upload {
    display: block;
}

.contact-info-box {
    position: relative;
    flex: 2 0;
}

.contact-info {
    resize: none;
    width: 100%;
    min-width: 100px; /*? tmp?  */
    height: 100%;
    border: none;
    border-left: 3px solid #000;
    background-color: #eee;
    padding: 20% 10px;
    outline: none;
}

.contact-info:read-only {
    background-color: #fff;
}

.user-info-box {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.user-info {
    resize: none;
    width: 100%;
    height: 6rem;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    outline: none;
    background-color: #eee;
}

.user-info:read-only {
    background-color: #fff;
}

.contact-info-edit,
.user-info-edit {
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    fill: #000;
}

.contact-info-box:hover .contact-info-edit,
.user-info-box:hover .user-info-edit {
    display: block;
}

.contact-info-box:hover .contact-info-edit:hover,
.user-info-box:hover .user-info-edit:hover {
    fill: #ff9800;
}

.contact-info-cancel,
.user-info-cancel {
    position: absolute;
    bottom: 5px;
    left: 30%;
    cursor: pointer;
    fill: #000;
}

.contact-info-cancel:hover,
.user-info-cancel:hover {
    fill: #f00;
}

.contact-info-validate,
.user-info-validate {
    position: absolute;
    bottom: 5px;
    right: 30%;
    cursor: pointer;
    fill: #000;
}

.contact-info-validate:hover,
.user-info-validate:hover {
    fill: #0e0;
}

.my-posts-box {
    position: relative;
    height: 500px;
    margin: 50px 10px 0;
    border-radius: 20px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    flex: 2 0;
}

.my-posts-box h2 {
    text-align: center;
}

.my-posts {
    height: 380px;
    overflow-y: auto;
}

.my-post {
    position: relative;
    background-color: rgb(35, 35, 95);
    color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.post-edit {
    display: none;
    position: absolute;
    top: 50%;
    transform: translate(-70%, -50%) scale(2);
    fill: #fff;
}

.my-post:hover .post-edit {
    display: block;
}

.my-post:hover .post-edit {
    right: 0;
    border-bottom-left-radius: 20px;
}

.my-post:hover .post-edit svg:hover {
    fill: #ff9800;
}

.post-tag {
    background-color: #ff9800;
    color: #000;
    padding: 0.1rem 1rem;
    border-radius: 20px;
}

.post-add {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}

/* tutoring edit/new post */

.new-post-main,
.edit-post-main {
    height: 100%;
}

/* useful */

.link-top-left {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 15px;
    background-color: rgb(7, 7, 61);
    color: #fff;
    border-bottom-right-radius: 20px;
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 0.15px;
}

.link-top-right {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 15px;
    background-color: rgb(7, 7, 61);
    color: #fff;
    border-bottom-left-radius: 20px;
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 0.15px;
}

.link-top-left:hover,
.link-top-right:hover {
    color: #ff9800;
}

.hidden {
    display: none !important;
}

.button {
    font-size: 0.875rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    background-color: #ff9800;
    border: none;
    border-radius: 10px;
    padding: 0.6rem 1rem;
    cursor: pointer;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.button:hover {
    background-color: #ffc947;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.greyout::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 20%;
}

.alert {
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    align-self: center;
}

.alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}

.alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}

.form {
    position: absolute;
    left: 0;
    right: 0;
    margin: 3rem auto;
    width: 480px;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
}

.form-title {
    font-size: 2.125rem;
    letter-spacing: 0.25px;
    margin: 0 0 2rem;
}

.form-field {
    position: relative;
    margin-bottom: 1.5rem;
    width: 100%;
    height: 3rem;
    flex: none;
}

.form-field-textarea {
    position: relative;
    margin-bottom: 1.5rem;
    width: 100%;
    height: 8rem;
    flex: none;
}

.form-field-select {
    position: relative;
    margin-bottom: 1.5rem;
    width: 100%;
    height: 3.2rem;
    flex: none;
}

.form-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    border: 1px solid #ff9800aa;
    border-radius: 10px;
    outline: none;
    padding: 1rem;
    background: none;
    z-index: 1;
}

textarea.form-input {
    resize: none;
}

.form-label {
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0 0.25rem;
    background-color: #fff;
    color: #888;
    font-size: 1rem;
    transition: 0.3s;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
    top: -0.5rem;
    left: 0.8rem;
    color: #ff9800;
    font-size: 0.75rem;
    font-weight: 500;
    z-index: 2;
}

.form-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.form-buttons .button {
    flex: 1 0;
    margin: 0 1rem;
}
