/* reset browser default styling */
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

body {
    background: #f5f5f6;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 45px;
}

p {
    padding:5px 0;
    
}

.header {
    background: rgb(7, 7, 61);
    display: flex;
    position: fixed;
    width: 100%;
    height: 50px;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    z-index: 2;
}

.header img {
    width: 55px;
    height: auto;
    margin: 0 20px;
}

.header a {
    margin: 0 10px;
}

.log-in,
.log-in a {
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
}

.log-in a:hover {
    color: #FF9800;
}

.edside-presentation{
    padding: 45px;
}

.section-title {
    font-size: 35px;
}

.section-text{
    padding: 45px;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 65px 0 0;
    width: 100%;
}

.logo {
    width: 200px;
    height: auto;
    margin: auto;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 50%;
}

.presentation,
.info-calendar,
.info-simulator,
.info-tutoring {
    display: flex;
    justify-content: space-around;
    padding: 60px 30px;
}

.presentation p,
.info-calendar p,
.info-simulator p,
.info-tutoring p {
    line-height: 2;
}

.presentation::after {
    content: "";
    display: block;
    position: absolute;
    top: 362px;
    width: 100%;
    height: 40px;
    background-color: rgb(35, 35, 95);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.info-calendar,
.info-tutoring {
    background-color: rgb(35, 35, 95);
    color: #FFF;
}

.info-calendar img,
.info-tutoring img {
    height: 300px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.8), 0px 4px 5px 0px rgba(0, 0, 0, 0.56), 0px 1px 10px 0px rgba(0, 0, 0, 0.48);
}

.info-simulator img {
    height: 300px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.info-calendar h2::after,
.info-simulator h2::after,
.info-tutoring h2::after {
    content: "";
    display: block;
    background-color: #FFF;
    width: 100%;
    height: 1.5px;
}

.info-simulator h2::after {
    background-color: #000;
    height: 2px;
}

.footer {
    background: #1b1b1b;
    color: #fff;
    margin-top: auto;
    padding: 30px;
    flex: none;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer a {
    color: #58a6ff;
}

.footer a:hover {
    text-decoration: underline;
}

.coming-soon {
    width: 70%;
    height: 300px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(35, 35, 95);
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    text-transform: UPPERCASE;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.about-us {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.about-us-title {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    text-transform: UPPERCASE;
    margin: 1rem 0;
}

.member {
    margin: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    background-color: rgb(35, 35, 95);
    color: #fff;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.member:hover {
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.member-name {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.member-desc {
    width: 65ch;
}